body{
    max-width: 500px;
    margin: 0;
    padding-bottom: 40px;
    padding-top: 60px;
}
img{
  max-width: 230px;
  max-height: 270px;
}

.img-wrap {
  /*background: #f8f8f8;*/
  height: 200px;
  margin: 0 auto 100px;
  padding: 10px;
  width: 200px;
}
ul{
  padding: 0;
}

li{
  list-style: none;
}

.ng-valid.ng-dirty {
    border-color: dodgerblue;
}
.ng-invalid.ng-dirty{
    border-color: red;
}
/*
body {
    
}
*/

.sidebar-nav-fixed {
	width:20%;
}

.sort-menu-item {
  border-bottom: 1px solid #171b1f;
  color: #4d5b68;
  cursor: pointer;
  display: block;
  font-style: italic;
  padding: 0.75em; }
  .sort-menu-item:last-child {
    margin-bottom: 0;
    border-bottom: none; }
  .sort-menu-item:hover, .sort-menu-item:focus, .sort-menu-item:active {
    background: #2d343c;
    color: #0F6A85; }
  .sort-menu-item.active {
    background: #2d343c;
    color: #0F6A85; }